# Gradle
.gradle/
build/
*/build/
!gradle-wrapper.jar

# Android Studio
captures/
.externalNativeBuild/
.cxx/
.idea/
*.iml
local.properties

# OS
.DS_Store
*.log

# IntelliJ
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# APK/AAB
*.apk
*.aab
output-metadata.json

# Keystore
*.jks
*.keystore

# Firebase / Google Services
google-services.json

# Android Profiling
*.hprof
